html,
body {
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  // background: url("/assets/bg-image.png");
  background-image: linear-gradient(to right, rgb(29, 84, 129), rgb(249, 97, 3)) !important;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.j-content-center {
  justify-content: center;
}

form {
  display: grid;

  input {
    padding: 10px 10px;
    font-size: 3vh;
    margin: 10px 0;
    border-radius: 20px;
    border: none;
    background-color: white;
  }
}

button {
  margin-top: 10px;
  border: none;
  font-size: 3vh;
  cursor: pointer;
  color: white;
  padding: 10px 10px;
  background-color: rgb(229, 96, 0);
  border-radius: 20px;
}

.card {
  background-color: rgb(7, 95, 146);
  padding: 50px 30px;
  border-radius: 30px;
}

.btn-correct,
.btn-wrong,
.btn-previous,
.btn-next {
  margin: 4px;
  padding: 12px 20px;
  width: 8rem;
  border-radius: 30px;
}

.btn-correct {
  background-color: rgb(12, 241, 12);
  transition: 0.3s all ease-in-out;
}

.btn-wrong {
  background-color: rgb(219, 37, 24);
  transition: 0.3s all ease-in-out;
}

.btn-previous {
  background-color: rgb(56, 183, 226);
  transition: 0.3s all ease-in-out;
}

.btn-next {
  background-color: rgb(8, 103, 135);
  transition: 0.3s all ease-in-out;
}

.btn-correct:hover {
  background-color: rgb(6, 132, 6);
  transition: 0.3s all ease-in-out;
}

.btn-wrong:hover {
  background-color: rgb(118, 18, 11);
  transition: 0.3s all ease-in-out;
}

.btn-previous:hover {
  background-color: rgb(13, 101, 130);
  transition: 0.3s all ease-in-out;
}

.btn-next:hover {
  background-color: rgb(2, 42, 55);
  transition: 0.3s all ease-in-out;
}
